/* VARIABLES */
:root{
    --mx-width:1320px;
    --color-text-body: #525260;
    --color-primary: #5956e9;
    --color-secondary: #fff;
    --color-banner: #2522ba;
    --color-text-btn: #0d6efd;
    --color-bg-btn: #ffdc60;
    --color-subtitle: #c75c6f;
    --color-title: #292930;
    --color-bg-services: #f8f8f8;
    --color-bg-projects: #ecf2f6;
    --color-bg-dark: #27272e;
    --color-text-description: #99a1aa;
    --color-hover-dark: #303035;
    --color-borders: #e3e6e9;
}

/* ESTILOS GENERALES */
html{
    font-size: 10px;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: 100%;
    
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text-body);
}

/* ESTRUCTURA */

.layout{
    width: 100%;
    min-width: 1200px;
    height: 100%;
}

/* ESTILOS MENU NAVEGACION Y CABECERA WEB */

.layout__menu {
    width: 100%;
}

.menu__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.menu__navbar--fixed{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    background-color: var(--color-secondary);
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 10%);
    padding: 1.5rem 8rem;
}

.navbar__logo{
    width: 100%;

}

.nav__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav__item{
    position: relative;
    margin: 0 2.4rem;
}

.nav__title{
    position: relative;
    display: inline-block;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
    color: var(--color-text-body);
    transition: all 300ms ease-in-out;
}

.nav__icon{
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.2rem;
    vertical-align: middle;
}

.nav__title:hover{
    color: var(--color-primary);
}

.nav__title::before{
    content: "";
    height: 0.2rem;
    width: 0;
    background-color: var(--color-primary);
    position: absolute;
    bottom: 0.2rem;
    left: 0;
    opacity: 0;
    transition: 500ms;
}

.nav__title:hover::before{
    width: 100%;
    opacity: 1;
}

.nav__submenu{
    display: block;
    position: absolute;
    top: 100%;
    left: 2rem;
    min-width: 19rem;
    padding: 1.5rem 1rem;
    border-radius: 4px;
    background-color: var(--color-secondary);
    box-shadow: 0px 13px 48px 0 rgba(0, 0, 0, 15%);
    transition: all 300ms ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.submenu__item{
    opacity: 0;
    transform: translateX(2rem);
    transition: all 100ms ease-in-out;
}

.submenu__item:nth-child(1){
    transition-delay: 100ms;
}

.submenu__item:nth-child(2){
    transition-delay: 200ms;
}

.submenu__item:nth-child(3){
    transition-delay: 300ms;
}

.submenu__item:nth-child(4){
    transition-delay: 400ms;
}

.submenu__item:nth-child(5){
    transition-delay: 500ms;
}

.submenu__item:nth-child(6){
    transition-delay: 600ms;
}

.submenu__title{
    display: block;
    position: relative;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-text-body);
    padding: 0.7rem 1.5rem;
    transition: all 300ms ease-in-out;
}

.nav__item:hover>.nav__submenu{
    opacity: 1;
    visibility: visible;
    z-index: 999;
    left: 0;
}

.nav__item:hover .submenu__item{
    opacity: 1;
    transform: translateX(0);
}

.submenu__title:hover{
    color: var(--color-primary);
}

.submenu__title::after{
    content: "";
    height: 0.1rem;
    width: 0;
    background-color: var(--color-primary);
    position: absolute;
    top: 50%;
    left: 0;
    transition: all 300ms ease-in-out;
}

.submenu__title:hover::after{
    width: 100%;
}


/* Navegación Responsive */

.navbar__mobile-btn{
    display: none;
}

.mobile-btn__wrap{
    height: 5rem;
    width: 5rem;
    background-color: var(--color-text-body);
    border: none;
    border-radius: 3.2rem;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-btn__line{
    background-color: var(--color-secondary);
    height: 0.2rem;
    width: 2rem;
    margin-bottom: 0.4rem;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

.mobile-btn__line:last-child{
    width: 1rem;
    margin-bottom: 0;
    margin-right: -1rem;
}

.menu-mobile{
    visibility: hidden;
    opacity: 0;

    position: fixed;
    top: 0;
    left: -300px;
    z-index: 10;
    width: 30rem;
    height: 100%;
    background-color: var(--color-secondary);
    padding: 5rem 1rem;
    padding-top: 0;
    box-shadow: 0px 0px 85px -35px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    transition: all 800ms ease-in-out;
}

.menu-mobile--show{
    visibility: visible;
    opacity: 1;
    left: 0;
}

.menu-mobile__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
    padding: 2rem 0rem;
    border-bottom: 1px solid var(--color-borders);
}

.menu-mobile__container-logo{
    width: 15rem;
}

.menu-mobile__close{
    background-color: transparent;
    height: 3rem;
    width: 3rem;
    border: 2px solid var(--color-text-description);
    border-radius: 1rem;
    color: var(--color-text-body);
    font-size: 1.6rem;
    cursor: pointer;
}

.menu-mobile__list{
    display: block;
    height: 100%;
    overflow: auto;
}

.menu-mobile__item{
    position: relative;
    border-bottom: 1px solid var(--color-borders);
    margin: 0 1rem;
}

.menu-mobile__link{
    position: relative;
    height: 5rem;
    line-height: 5rem;
    color: var(--color-text-body);
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-mobile__icon{
    font-size: 1.4rem;
}

.menu-mobile__submenu-mobile{
    display: none;
    visibility: visible;
    opacity: 1;

    min-width: 100%;
    padding: 0;
    padding-bottom: 1rem;
}

.submenu-mobile__link{
    display: block;
    text-decoration: none;

    position: relative;
    padding: 0.7rem 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-text-body);
    text-transform: capitalize;
}

/* HERO */
.layout__hero {
    width: 100%;
    height: 80vh;
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__container {
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.content__left {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.content__slogan {
    color: var(--color-secondary);
    font-size: 6rem;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content__title span {
    color: var(--color-primary);
}

.content__description {
    font-size: 1.8rem;
    color: var(--color-bg-services);
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.content__buttons {
    display: flex;
    gap: 1rem;
}

.content__btn a {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #7F7FD5;
    color: var(--color-secondary);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.content__btn a:hover {
    background-color: #86A8E7;
}

.content__right {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__img {
    max-width: 100%;
    height: auto;
}

/* ABOUT */
.layout__about {
    width: 100%;
    height: 40vh;
    background-color: #f4f4f9;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.about__container {
    background-color: #fff; /* Fondo blanco para el contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center;
}

.about__content {
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__title {
    font-family: "Kanit", sans-serif;
    font-size: 4.5rem;
    color: var(--color-primary);
    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.about__description {
    width: 60%;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.6rem;
    color: #333;
    line-height: 1.6;
}
